{% extends 'jeopardy/base.html' %}
{% load static %}
{% block title %}
    Build - Jeopardy!
{% endblock %}
{% block body %}
    <img src="{% static 'jeopardy/favicon.ico' %}" style="width: 9%; height: auto;" alt="Jeopardy Online Logo"/>
    <br/>
    <h1>
        Setup the jeopardy board 
    </h1>
    <form>
        <label for="file_load">Load a saved file:</label>
        <input type="file" id="file_load" onchange="loadFile(this)">
    </form>
    <br>
    <form method="POST" action="/save/">
        <label for="categories">Number of categories:</label>
        <input type="number" id="categories" name="categories" min="1" max="10" value="5">
        <label for="rows">Number of question rows:</label>
        <input type="number" id="rows" name="rows" min="1" max="10" value="5">
        <input type="button" value="Set" onclick="loadBoxes();">

        <div id="board">
            <!-- Nothing here because the javascrip script will add the text boxes to be shown -->
        </div>
    </form> 
    
    <a href="{% url 'play' %}">Play</a>
    <link rel="stylesheet" href="{% static 'jeopardy/styles.css' %}" />
    <script src="{% static 'jeopardy/main.js' %}"></script>
{% endblock %}