{% extends 'jeopardy/base.html' %}

{% load static %}
{% block title %}
    Play - Jeopardy!
{% endblock %}
{% block body %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <h1>
        Play! <img src="{% static 'jeopardy/favicon.ico' %}" style="width: 9%; height: auto;" alt="Jeopardy Online Logo"/>
    </h1>
    <p>We recommend playing with a 250% zoom as it looks alot better. 😊</p>
    <p>RIP Alex Trebek. Thank you for being such a great host and you will be missed greatly.</p>
    <a href="{% url 'build' %}">Build</a>
    <div id="fullscreen-container">
        <table id='jeopardy-table'></table>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        ...
                    </div>
                </div>
            </div>
        </div>
        <div class="FJ-modal-body">

          <div class="collapse" id="final-question">
          </div>
          
        </div>

    
    </div>

    {{ categories | json_script:"cats" }}
    
    
    
    
    <link rel="stylesheet" href="{% static 'jeopardy/play.css' %}" />
    <script src="{% static 'jeopardy/play.js' %}"></script>

    <button onclick='$(".FJ-modal-body").addClass("enabled")'>
      Final Jeopardy !
    </button>


    <script>
        /* Get the documentElement (<html>) to display the page in fullscreen */
        var elem = document.getElementById('fullscreen-container');
        
        /* View in fullscreen */
        function openFullscreen() {
          if (elem.requestFullscreen) {
            elem.requestFullscreen();
          } else if (elem.mozRequestFullScreen) { /* Firefox */
            elem.mozRequestFullScreen();
          } else if (elem.webkitRequestFullscreen) { /* Chrome, Safari and Opera */
            elem.webkitRequestFullscreen();
          } else if (elem.msRequestFullscreen) { /* IE/Edge */
            elem.msRequestFullscreen();
          }
        }
        
        /* Close fullscreen */
        function closeFullscreen() {
          if (document.exitFullscreen) {
            document.exitFullscreen();
          } else if (document.mozCancelFullScreen) { /* Firefox */
            document.mozCancelFullScreen();
          } else if (document.webkitExitFullscreen) { /* Chrome, Safari and Opera */
            document.webkitExitFullscreen();
          } else if (document.msExitFullscreen) { /* IE/Edge */
            document.msExitFullscreen();
          }
        }
    </script>
    <br />
    <button onclick="openFullscreen()">Fullscreen 😊</button>
    <input type="file" onchange="showFile(this)">

    <script>
      function showFile(input) {
        let file = input.files[0];

        console.log("start")
        var reader = new FileReader();
        reader.onload = function(){
            var dataURL = reader.result;
            const dataStr = atob(dataURL.replace(/^data:application\/json;base64,/, ""));
            console.log(dataStr);
            const data = JSON.parse(dataStr);
            console.log(data);
            document.getElementById('cats').textContent = JSON.stringify(data);
            createData(data);
        };
        reader.readAsDataURL(input.files[0]);
    
      }
    </script>

        

{% endblock %}