table {
    background-color: rgb(32, 32, 218);
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

td, th {
    font-size: larger;
    padding: 7px;
}
  

table thead {
    color: white;
}

thead {
    border-bottom: 3px solid black;
}

table tbody {
    color: gold
}
table tbody span {
    cursor: pointer;
}

table {
    width: 100vw;
    height: 100vh;
}

table span {
    font-size: xx-large;
}

.asked {
    color: red;
}

.modal {
    margin-top: 40vh;
}

.modal-body {
    font-size: xx-large;
}

.FJ-modal-body {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: none;
}

.FJ-modal-body.enabled {
    display: block;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 15%;
    font-size: xx-large;
}

